/Debug/Makefile
/Debug/display.d
/Debug/display.o
/Debug/magnet.d
/Debug/magnet.o
/Debug/magstripe.eep
/Debug/magstripe.elf
/Debug/magstripe.hex
/Debug/magstripe.lss
/Debug/magstripe.map
/Debug/magstripe.srec
/Debug/main.d
/Debug/main.o
/Debug/makedep.mk
/Debug/millis.d
/Debug/millis.o
/Release/Makefile
/Release/display.d
/Release/display.o
/Release/magnet.d
/Release/magnet.o
/Release/magstripe.eep
/Release/magstripe.elf
/Release/magstripe.hex
/Release/magstripe.lss
/Release/magstripe.map
/Release/magstripe.srec
/Release/main.d
/Release/main.o
/Release/makedep.mk
/Release/millis.d
/Release/millis.o
/schematic.dsn.autosave
